
body * {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 300;
    margin: 0; padding: 0;
}
.logo {width: 48px;}
.icon-bar {
    background-color: #00cdf4;
    text-align: center;
    padding: 5px 0;
}
#destacados, #nosotros, #contacto {
    background-color: #000;
}
.card { 
   margin-bottom: 35px;
}
footer {
    background-color: #00cdf4;
}