
body * {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 300;
    margin: 0; padding: 0;
}
.logo {width: 32px;}
.nav-link a { color: white;}

.icon-bar {
    background-color: #00cdf4;
    text-align: center;
    padding: 5px 0;
}
#destacados, #nosotros, #contacto, header {
    background-color: #000;
}
.card { 
   margin-bottom: 35px;
}
footer {
    background-color: #00cdf4;
}
#carouselExampleInterval {
    position: relative;
    top: -60px;
}
#destacados h4 { font-size: 1rem }
#destacados .card-text { font-size: 0.7rem}